body{
    color: white;
    margin: 0;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

section{
    padding: 200px;
}

button{
    margin: 2% auto;
}

.input-group{
    margin: 3% auto;
}

.col{
  align-items: center;
}

#intro{
    background-color: #110329;
}

#elements{
    background-color: #0d0542;
}

#randomizer{
    background-color: #091e6b;
}